body{
    background:#ececec
}
h1{
	font-weight: 600;
    height:77px;
    margin:0 0 0 0;
    padding:0;
    font-size:25px;
    font-family: 'Noto Sans', 'NotoSansKR';
    font-weight:normal;
    /*text-transform:uppercase; 96*/
    color:#555;
    display:table;
    float:left;
    width:100%;
    max-width:330px;
    line-height:125%;
	letter-spacing: -1px;
}
h1 a{
	font-weight: 600;
    color:#333;
    text-decoration:none;
    /*display:table-cell;*/
    vertical-align:middle
}
h2{
	font-weight: 500;
    margin:1rem 0 0.5rem;
    font-family: 'Noto Sans', 'NotoSansKR';
    font-weight:bold;
    line-height:100%
}
h2 a{
	font-weight: 500;
    color:#039;
    text-decoration:none
}
h3{
	font-weight: 400;
    margin:2em 0 1em 0
}
a{
    color:#0088CC
}
a:hover{
    color:#555
}
@media (max-width: 767px){
    header h1{
        font-size:30px
    }
}
@media (max-width: 500px){
    header h1{
        font-size:26px;
        line-height:26px;
        max-width:90%;
        position:relative;
        top:15px
    }
    header h1 a{
        font-size:94.5%
    }
}
@media (max-width: 436px){
    header h1{
        font-size:22px;
        line-height:22px;
        top:22px
    }
}
.pull-right{
    float:right
}
.hidden{
    left:-10000px;
    top:auto;
    float:left;
    width:1px;
    height:1px;
    overflow:hidden
}
.container{
    width:100%;
    max-width:940px;
    margin-left:auto;
    margin-right:auto;
    overflow:hidden;
    position:relative
}
@media (max-width: 1000px){
    .container{
        max-width:724px
    }
}
@media (max-width: 767px){
    .container{
        width:93%
    }
}
@media (max-width: 500px){
    .container{
        width:100%;
        max-width:373px
    }
}
@media (min-width: 500px){
	h1 a{
		font-weight: 600;
		color:#333;
		text-decoration:none;
		display:table-cell;
		vertical-align:middle
	}
}

@media (max-width: 436px){
    .container{
        width:84%
    }
}
.content-container{
    /*background:url("gradient-bg.png") no-repeat scroll 0 118px #fff;*/
	background: #fff;
    padding:20px;
    overflow:visible
}
section{
    clear:both;
    padding-top:1rem
}
.entry-content .alignright{
    margin:1rem 0 1rem 1rem
}
.entry-content .alignleft{
    margin:1rem 1rem 1rem 0
}
.row-fluid{
    width:100%;
    margin-top:1em
}
.row-fluid:before,.row-fluid:after{
    content:"";
    display:table;
    line-height:0
}
.row-fluid:after{
    clear:both
}
.span{
    -moz-box-sizing:border-box;
    display:block;
    float:left;
    min-height:30px;
    width:100%
}
.one-third{
    width:19.58rem;
    max-height:8rem;
    margin-bottom:1rem
}
@media (max-width: 500px){
    .one-third{
        width:100%
    }
}
header{
    padding-right:20px;
    overflow:hidden
}
.logo{
    max-width:4.8125rem;
    float:left;
    margin-right:1em
}
.menu,.menu-header{
    clear:both;
    float:left;
    margin-top:-18px;
    width:100%
}
.menu>ul,.menu-header>ul{
    margin:0 0 0 91px;
    padding:0
}
.menu>ul>li,.menu-header>ul>li{
    position:relative
}
.menu>ul>li>a,.menu-header>ul>li>a{
    border-bottom:0px solid #6780CD;
    -webkit-transition:all 0.15s ease-in-out 0s;
    -moz-transition:all 0.15s ease-in-out 0s;
    -o-transition:all 0.15s ease-in-out 0s;
    transition:all 0.15s ease-in-out 0s
}
.menu>ul>li>a:hover,.menu-header>ul>li>a:hover{
    text-decoration:underline
}
.menu>ul>li.current_page_item>a,.menu-header>ul>li.current_page_item>a{
    height:30px;
    border-bottom:0px solid #039
}
.menu a,.menu-header a{
    line-height:41px;
    margin:0 9px; /* 9 */
    padding-bottom:6px;
    color:#333;
    font-family:'Noto Sans', 'NotoSansKR';
    text-decoration:none;
    /*font-size:14px; */
	text-transform:uppercase;
}
.children,.sub-menu{
    background:#FFFFFF;
    border:1px solid #cccccc;
    border-top:1px solid #cccccc;
    width:234px;
    top:23px;
    padding:10px;
    box-shadow:0 2px 3px rgba(0,0,0,0.3)
}
.children a,.sub-menu a{
    line-height:30px
}
.children a:hover,.sub-menu a:hover{
    text-decoration:underline
}
.btn-navbar{
    background-color:#EDEDED;
    background-image:linear-gradient(to bottom, #F2F2F2, #E5E5E5);
    background-repeat:repeat-x;
    border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    box-shadow:0 1px 0 rgba(255,255,255,0.1) inset,0 1px 0 rgba(255,255,255,0.075);
    color:#FFFFFF;
    display:none;
    float:right;
    margin-top:-77px;
    margin-left:5px;
    margin-right:5px;
    padding:7px 10px;
    text-shadow:0 -1px 0 rgba(0,0,0,0.25);
    border-image:none;
    border-radius:4px;
    border-style:solid;
    border-width:1px;
    box-shadow:0 1px 0;
    cursor:pointer;
    text-align:center;
    vertical-align:middle;
    line-height:20px;
    font-size:14px
}
.btn-navbar:hover{
    background-color:#E5E5E5;
    background-position:0 -15px;
    transition:background-position 0.1s linear 0s
}
.icon-bar{
    background-color:#F5F5F5;
    border-radius:1px;
    box-shadow:0 1px 0 rgba(0,0,0,0.25);
    display:block;
    height:2px;
    width:18px;
    line-height:14px;
    margin-top:3px;
    vertical-align:text-top
}
.icon-bar:first-child{
    margin-top:1px
}
#access .children li a,#access .sub-menu li a{
    margin:0;
    line-height:120%;
    text-indent:0;
    text-transform:none
}
@media (min-width: 1001px){
    #access ul ul{
        display:block;
        max-height:0;
        padding-top:0;
        padding-bottom:0;
        border:none;
        border-left:1px solid #ffffff;
        border-right:1px solid #ffffff;
        overflow:hidden;
        -webkit-transition:all 0.1s linear 0s;
        -moz-transition:all 0.1s linear 0s;
        -o-transition:all 0.1s linear 0s;
        transition:all 0.1s linear 0s
    }
    #access ul li:hover>ul{
        max-height:500px;
        padding-top:10px;
        padding-bottom:10px;
        border:1px solid #cccccc
    }
    #access .children li,#access .sub-menu li{
        float:left;
        padding-left:8px;
        margin:3px 0;
        clear:both
    }
	.topnav .nav-item-container{
		float:right;
		padding-top: 0px; 
	}
    #access .menu>ul>li,#access .menu-header>ul>li{
        border-top:1px solid #e3e3e3;
        float:left;/*right*/
    }
    .menu,.menu-header{
        margin-top:-77px;
        margin-bottom:79px;
        height:24px
    }
    .menu>ul,.menu-header>ul{
        margin:0
    }
    .menu>ul>li>a,.menu-header>ul>li>a{
        display:block;
        position:relative;
        height:34px
    }
    .menu>ul>li>a:hover,.menu-header>ul>li>a:hover{
        height:30px
    }
}
@media (max-width: 1000px){
    h1{
        max-width:79%;
        line-height:100%
    }
    #access .menu a,#access .menu-header a{
        line-height:120%
    }
    #access .menu li,#access .menu-header li{
        line-height:120%;
        display:block;
        float:none
    }
    #access .menu li a:hover,#access .menu-header li a:hover{
        text-decoration:underline
    }
    #access .menu li:hover>a,#access .menu-header li:hover>a{
        border-bottom:none
    }
    #access .menu>ul>li,#access .menu-header>ul>li{
        margin:0 0 8px -91px
    }
    #access .menu>ul>li>a,#access .menu-header>ul>li>a{
        font-family: 'Noto Sans', 'NotoSansKR';
    }
    #access .menu>ul>li a,#access .menu-header>ul>li a{
        border-bottom:none
    }
    #access .menu>ul>li:first-child,#access .menu-header>ul>li:first-child{
        margin-top:60px
    }
    #access .menu .children li,#access .menu-header .children li{
        margin:0px 0 8px 8px
    }
    #access .menu ul ul,#access .menu-header ul ul{
        height:auto;
        top:0;
        margin:8px 0 0 0;
        padding:0 10px;
        border:none;
        box-shadow:none;
        display:block;
        position:relative;
        float:none;
        z-index:inherit
    }
    .btn-navbar{
        display:block
    }
    .menu-wrap{
        overflow:hidden;
        -webkit-transition:all 0.3s ease-in-out 0s;
        -moz-transition:all 0.3s ease-in-out 0s;
        -o-transition:all 0.3s ease-in-out 0s;
        transition:all 0.3s ease-in-out 0s
    }
    .collapsed{
        max-height:25px;
        overflow:hidden
    }
}
@media (max-width: 500px){
    .btn-navbar{
        position:absolute;
        right:20px;
        top:95px
    }
}
.xoxo{
    max-width:200px;
    float:right
}
.quicklinks-top{
    margin:0.5em 0;
    text-align:right
}
.quicklinks-top li{
    list-style-type:none;
    display:inline
}
.quicklinks-top li a{
    padding:0 15px;
    color:#777777;
    font-size:14px;
    text-decoration:none;
    text-shadow:0 1px 0 #dfdfdf;
    display:inline-block
}
.quicklinks-top li a:hover{
    color:#005580;
    text-shadow:0px 1px 1px #eee
}
@media (max-width: 979px){
    .quicklinks-top .welcome{
        margin-left:15px
    }
}
.feature h2{
    margin-top:0
}
.item{
    overflow:hidden
}
.feature-text{
    background:#9d5420;
    padding:0;
    color:#fff;
    height:440px;
    left:0;
    top:0;
    width:32.6%;
    overflow:hidden
}
.feature-text h2,.feature-text p{
    margin:1rem
}
.feature-text h2:first-child{
    margin-bottom:0
}
.feature img{
    border:1px solid #AAAAAA;
    float:right;
    width:66%;
    border:0 none;
    height:auto;
    max-width:100%;
    vertical-align:middle
}
@media (max-width: 1000px){
    .feature-text{
        width:32%;
        max-height:248px;
        font-size:0.8rem
    }
}
@media (max-width: 767px){
    .feature img{
        width:100%;
        float:inherit
    }
    .feature-text{
        width:100%;
        height:auto
    }
}
.profile-container{
    overflow:hidden
}
.one-third p{
    margin:0
}
.profile-image{
    float:left;
    margin:0 .5rem 1rem 0
}
.name{
    margin:0 0 0.1em 0;
    color:#999;
    font-family: 'Noto Sans', 'NotoSansKR';
    font-weight:bold;
    font-size:1.2rem;
    line-height:110%
}
.one-third p.title{
    margin:0 0 0.25rem 0;
    font-size:0.8rem
}
.profile-links{
    margin:2rem 0 0;
    font-size:0.8rem
}
.profile-links li{
    display:inline;
    float:left
}
.profile-links a{
    margin-right:0.5rem
}
.modal-shade{
    height:100%;
    width:100%;
    background-color:#000000;
    opacity:0.85;
    padding-top:10%;
    padding-bottom:10%
}
.modal{
    max-width:500px;
    background-color:#FFFFFF;
    margin:0 auto;
    padding:1rem
}
.modal>p{
    margin:0
}
.close{
    margin-top:-0.5rem;
    color:#666666;
    font-size:1.5rem;
    font-weight:bold;
    text-decoration:none;
    float:right;
    display:inline
}
.close:hover{
    color:#000000
}
.faculty-info-container{
    margin-left:172px;
    font-size:0.9rem
}
.faculty-info-container p{
    margin-top:0
}
.faculty-info-container .profile-links{
    height:1rem;
    margin:0;
    font-size:inherit;
    padding-left:0
}
.faculty-image{
    margin-right:1rem;
    float:left;
    display:inline
}
.faculty-header{
    font-family: 'Noto Sans', 'NotoSansKR';
    font-size:2rem;
    line-height:2.3rem;
    border-bottom:none;
    margin:0;
    float:none
}
.faculty-subheader{
    margin-bottom:0;
    font-weight:bold
}
.faculty-title{
    font-size:1.25em;
    line-height:1.2rem;
    text-transform:none
}
.accordion-title{
    cursor:pointer;
    text-decoration:underline
}
footer{
    padding:0;
    margin-top:0;
    font-size:0.9rem
	color: #fff;
}
footer .container{
    background:#555;
    padding:30px 20px;
    padding:20px
}
footer a{
    color:#eee;
    text-decoration:underline
}
footer a:hover{
    color:#c4c4c4
}
footer p{
    margin-bottom:0;
    color:#fff
}
footer .pull-right{
    max-width:30rem;
    text-align:right;
    margin-top:0
}
.footer-links{
    height:1.5em;
    margin:0 0 10px 0
}
.footer-links li{
    display:inline;
    margin-right:10px
}
.footer-links li a{
    margin-right:5px
}
@media (max-width: 767px){
    footer .pull-right{
        float:inherit;
        text-align:left;
        margin-top:1rem
    }
}

.page__footer-follow ul{
    margin:0;
    padding:0;
    list-style-type:none
}
.page__footer-follow li{
    display:inline-block;
    padding-top:5px;
    padding-bottom:5px;
    font-family: 'Noto Sans', 'NotoSansKR';
    font-size:14px;
    /*text-transform:uppercase*/
}
.page__footer-follow li+li:before{
    content:"";
    padding-right:5px
}
.page__footer-follow a{
    padding-right:10px;
    font-weight:bold;
	text-decoration:none;
}
.author__urls.social-icons .fa,.page__footer-follow .social-icons .fa{
    color:inherit
}
